.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  z-index: 2;
}

.btn_modal {
  margin-top: 1.6rem;
  height: 30px;
  width: 120px;
  border: solid 1px #c4c4c4;
  border-radius: 3px;
}

.btn_modal:hover {
  color: #696969;
  background-color: #fcfcfc;
}

.btn_modal:active {
  border: solid 2px #969696;
  border-radius: 3px;
  outline: none;
}

.eror_url {
  display: block;
  color: red;
  margin-left: 8rem;
}

.modal_body {
  margin-top: 7rem;
  padding: 2rem;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  background: #fff;
  font-size: 0.9rem;
  text-align: center;
  z-index: 5;
}

.modal_view_body {
  width: 87%;
  height: 92%;
  border-radius: 5px;
  background: #fff;
  font-size: 0.9rem;
  z-index: 5;
  display: flex;
}

.wrapper_input {
  display: flex;
  justify-content: flex-end;
  padding: 0.2rem;
}

.modal_input {
  height: 15px;
  width: 250px;
  align-self: center;
  margin-left: 8px;
  border: solid 1px #c4c4c4;
  border-radius: 3px;
}

.no_url{
  height: 15px;
  width: 250px;
  align-self: center;
  margin-left: 8px;
  border: solid 1px red;
  border-radius: 3px;
}

.addPhoto {
  background-color: white;
  border: none;
}

.addPhotoPlus {
  color: darkolivegreen;
  font-size: 1.5rem;
}

.addPhotoPlus:hover {
  font-size: 1.7rem;
}

.addPhoto:hover {
  color: #000000;
  cursor: pointer;
}

.image_wraper {
  height: 100%;
  width: 84%;
}

.img_photo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.photo_panel {
  height: 100%;
  width: 16%;
  padding: 3rem .8rem 0 .3rem;
}

.delete_this_photo, .edit_comment {
  color: #aaaaaa;
  padding: 0.4rem;
  width: 150px;
}

.delete_this_photo:hover, .edit_comment:hover {
  color: #000000;
  cursor: pointer;
}

.invisible {
  display: none;
}

.comment {
  padding: 1rem 0.3rem;
}









@media (min-width: 540px) and (max-width: 960px) {

  .modal_view_body {
    width: 87%;
    height: 92%;
    font-size: 0.9rem;
    display: block;
  }

  .image_wraper {
    height: 72%;
    width: 100%;
  }
  
  .photo_panel {
    height: 28%;
    width: 96%;
    padding: .8em .8rem .8rem .8rem;
  }

  .comment {
    padding: 0 0 0 0rem;
  }



}




@media (max-width: 540px) {

.modal_view_body {
    width: 87%;
    height: 92%;
    font-size: 0.9rem;
    display: block;
  }

  .image_wraper {
    height: auto;
    width: 100%;
  }
  
  .photo_panel {
    height: auto;
    width: 93%;
    padding: .8em .8rem .8rem .8rem;
  }

  .comment {
    padding: 0 0 0 0rem;
  }

  .modal_body {
    margin-top: 7rem;
    padding: 2rem;
    width: 300px;
    height: 300px;
  }

  .wrapper_input {
    display: block;
  }

  
}

