.App {
  background: linear-gradient(#696969 80px, white 0%);
}

.mainGrid {
  display: grid;
  grid-gap: 14px;
  grid-template-columns:
    minmax(auto, 1fr)
    minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr)
    minmax(auto, 1fr);
  grid-template-areas:
    ". header header header header ."
    ". title title title title ."
    ". main main main main .";
}

.header {
  grid-area: header;
  font-size: 2rem;
  padding: 16px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  margin: 0;
}

.description {
  font-size: 0.8rem;
  margin: 0 10px;
}

.title {
  grid-area: title;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  grid-area: main;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.galleryGrid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.galleryItem {
  overflow: hidden;
  max-height: 80px;
  min-height: 50px;
  padding-bottom: 100%;
  position: relative;
}

.galleryItem:hover {
  overflow: visible;
}

.img_wraper {
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.img_wraper:hover {
  overflow: visible;
  z-index: 1;
}

.itemPhoto {
  width: 90%;
  height: auto;
  
}

.itemPhoto:hover {
  box-shadow: 0 4px 6px 0 #868686;
}

.text_comments {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.delete_photo {
  display: inline-block;
  position: absolute;
  right: 60px;
  z-index: 4;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 60%);
  /* text-shadow: 1px 2px 2px #555555; */
}

.delete_photo:hover {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 80%);
  cursor: pointer;
  text-shadow: 0 0 25px #555555;
}

.delete_photo:active {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 85%);
  cursor: pointer;
}

.second_wraper {
  width: 200%;
  height: auto;
  transform: translateX(-20%);
}


@media (min-width: 540px) and (max-width: 960px) {

  .mainGrid {
    display: grid;
    grid-gap: 14px;
    grid-template-columns:
      auto minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) auto;
    grid-template-areas:
      ". header header  header ."
      ". title title title ."
      ". main main main .";
  }


  .galleryGrid {
    grid-template-columns: repeat(3, 1fr);
  }


}





@media (max-width: 540px) {


  .mainGrid {
    display: grid;
    grid-gap: 14px;
    grid-template-columns:
      auto minmax(150px, 1fr) auto;
    grid-template-areas:
      ". header ."
      ". title  ."
      ". main main main .";
  }


  .galleryGrid {
    grid-template-columns: 1fr;
  }



}