.App {
  background: linear-gradient( #696969 80px, white 0%);
}

.mainGrid {
  display: grid;
  grid-gap: 14px;
  grid-template-columns: minmax(auto, 1fr)
  minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr)
   minmax(auto, 1fr);
  grid-template-areas: 
  ". header header header header ."
  ". title title title title ."
  ". main main main main .";
}

.header{
  grid-area: header; 
  font-size: 2rem;
  padding: 16px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.logo{
  margin: 0;
}

.description{
  font-size: 0.8rem;
  margin: 0 10px;
}

.title{
  grid-area: title;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main{
  grid-area: main;
}

.App-header {
  font-size: calc(10px + 2vmin);
}




.galleryGrid{
  display: grid;
  grid-gap: 14px;
  grid-template-columns: repeat(4, 1fr);
}

.GalleryItem{

}

.itemPhoto{
  width: 100%;
  height: auto;
}